<% @profile ||= Current.profile %>
<%= render partial: 'profile_card' %>

<%= link_to edit_profile_path do %>
  <div class='py-2 px-4 bg-slate-300 rounded-xl mt-2 text-center font-medium'>
    Edit
  </div>
<% end %>
