<% edit ||= false %>
<div id="traits_<%= category %>">
  <% Current.profile.traits.public_send(category).each do |trait| %>
    <%= render partial: trait, locals: { edit: edit } %>
  <% end %>
</div>
