<div class=" bg-slate-200 rounded-2xl shadow overflow-hidden mx-auto">
  <% if @user.avatar.attached? %>
    <div class="p-1 pb-0">
      <image class="rounded-2xl object-cover" src="<%= url_for(@user.avatar) %>">
    </div>
  <% end %>
  <div class="p-6 pt-0">
    <p class="font-semibold text-4xl mt-4"><%= @user.username %></p>
    
    <p><%= @user.bio %></p>
    
    <div class="pt-3">
      <p class="text-3x1 text-gray-500">Basic</p>
      <% @user.traits.each do |trait| %>
        <%= render partial: 'trait', locals: { trait: trait } %>
      <% end %>
    </div>
  </div>
</div>
